In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:2815123@localhost/spotify_db

Connecting to 'mysql+mysqlconnector://root:***@localhost/spotify_db'

In [2]:
import pandas as pd     
import mysql.connector                     
import spotipy
import re

In [3]:
import spotipy as s
from spotipy.oauth2 import SpotifyClientCredentials
import re
client_id="2b5088f7b1c84c2e85fa9a9a69c48c80"
client_secret="f2658ef080254e9593f30997ce78ce2c"
client_creds_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_creds_manager)

In [4]:
%%sql
use spotify_db

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

++
||
++
++

In [ ]:
%%sql
truncate table tracks

In [5]:
%%sql 
show tables

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

1 rows affected.

+----------------------+
| Tables_in_spotify_db |
+----------------------+
|        tracks        |
+----------------------+

In [ ]:
%%sql
drop table tracks

In [ ]:
%%sql
create table if not exists tracks (
    track_id int primary key auto_increment,
    Track_Name varchar(100),
    Artist_Name varchar(50),
    Album_Name varchar(50),
    Release_date Date,
    Duration_min Float,
    Popularity int
);

In [ ]:
%%sql
describe tracks

In [7]:
# Connect to the database       
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2815123",             
    database="spotify_db"   
)
cursor = conn.cursor()
# Insert single data into the tracks table 
insert_query="""insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_min, Popularity) values("Pink+White","Frank Ocean","Blonde","2016-08-20",3.45,85);"""
cursor.execute(insert_query)    
conn.commit()

In [10]:
%%sql
select * from tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

9 rows affected.

+----------+-----------------------+--------------+---------------------------------+--------------+--------------+------------+
| track_id |       Track_Name      | Artist_Name  |            Album_Name           | Release_date | Duration_min | Popularity |
+----------+-----------------------+--------------+---------------------------------+--------------+--------------+------------+
|    1     |       Pink+White      | Frank Ocean  |              Blonde             |  2016-08-20  |     3.45     |     85     |
|    2     |     Mr. Brightside    | The Killers  |             Hot Fuss            |  2004-06-15  |     3.7      |     63     |
|    3     |  Time is Running Out  |     Muse     |            Absolution           |  2004-03-23  |     3.95     |     3      |
|    4     |        Uprising       |     Muse     |          The Resistance         |  2009-09-10  |     5.08     |     78     |
|    5     |       Despacito       |  Luis Fonsi  |               VIDA              |  2019-02-01  |     3.82     |     80     |
|    6     |     Mr. Brightside    | The Killers  |             Hot Fuss            |  2004-06-15  |     3.7      |     7      |
|    7     |         Lover         | Taylor Swift |              Lover              |  2019-08-23  |     3.69     |     83     |
|    8     |      Shape of You     |  Ed Sheeran  |            รท (Deluxe)           |  2017-03-03  |     3.9      |     88     |
|    9     | Every Breath You Take |  The Police  | Synchronicity (Remastered 2003) |  1983-06-17  |     4.23     |     92     |
+----------+-----------------------+--------------+---------------------------------+--------------+--------------+------------+

In [9]:
with open('tracks.txt','r+') as fe:
    f=fe.readlines()    
for line in f:
    track=line.strip()  
    track=re.search(r"track/([a-zA-Z0-9]+)",track).group(1)
    sis=sp.track(track)
    meta_data={
            "Track Name":sis['name'],
            'Artist':sis['artists'][0]['name'],
            'Album':sis['album']['name'],
            'Release Date':sis['album']['release_date'],
            'Popularity':sis['popularity'],
            'Duration (min)':round(sis['duration_ms']/60000,2)
        }
    print(meta_data)
    insert_query = """insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_min, Popularity) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
    cursor.execute(insert_query, (
	meta_data["Track Name"],
	meta_data['Artist'],
	meta_data['Album'],
	meta_data['Release Date'],
	meta_data['Duration (min)'],
	meta_data['Popularity']
))
    conn.commit()

    print("Data inserted successfully")
    # cursor.execute(f"""insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_ms, Popularity) values("{meta_data['Track Name']}","{meta_data['Artist']}","{meta_data['Album']}","{meta_data['Release Date']}",{meta_data['Duration (min)']*60000},{meta_data['Popularity']});""")                           
    # conn.commit()

{'Track Name': 'Mr. Brightside', 'Artist': 'The Killers', 'Album': 'Hot Fuss', 'Release Date': '2004-06-15', 'Popularity': 63, 'Duration (min)': 3.7}
Data inserted successfully
{'Track Name': 'Time is Running Out', 'Artist': 'Muse', 'Album': 'Absolution', 'Release Date': '2004-03-23', 'Popularity': 3, 'Duration (min)': 3.95}
Data inserted successfully
{'Track Name': 'Uprising', 'Artist': 'Muse', 'Album': 'The Resistance', 'Release Date': '2009-09-10', 'Popularity': 78, 'Duration (min)': 5.08}
Data inserted successfully
{'Track Name': 'Despacito', 'Artist': 'Luis Fonsi', 'Album': 'VIDA', 'Release Date': '2019-02-01', 'Popularity': 80, 'Duration (min)': 3.82}
Data inserted successfully
{'Track Name': 'Mr. Brightside', 'Artist': 'The Killers', 'Album': 'Hot Fuss', 'Release Date': '2004-06-15', 'Popularity': 7, 'Duration (min)': 3.7}
Data inserted successfully
{'Track Name': 'Lover', 'Artist': 'Taylor Swift', 'Album': 'Lover', 'Release Date': '2019-08-23', 'Popularity': 83, 'Duration (min)': 3.69}
Data inserted successfully
{'Track Name': 'Shape of You', 'Artist': 'Ed Sheeran', 'Album': 'รท (Deluxe)', 'Release Date': '2017-03-03', 'Popularity': 88, 'Duration (min)': 3.9}
Data inserted successfully
{'Track Name': 'Every Breath You Take', 'Artist': 'The Police', 'Album': 'Synchronicity (Remastered 2003)', 'Release Date': '1983-06-17', 'Popularity': 92, 'Duration (min)': 4.23}
Data inserted successfully