In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:2815123@localhost/spotify_db

Connecting to 'mysql+mysqlconnector://root:***@localhost/spotify_db'

In [2]:
import pandas as pd     
import mysql.connector                     
import spotipy
import re

In [3]:
import spotipy as s
from spotipy.oauth2 import SpotifyClientCredentials
import re
client_id="2b5088f7b1c84c2e85fa9a9a69c48c80"
client_secret="f2658ef080254e9593f30997ce78ce2c"
client_creds_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_creds_manager)

In [4]:
%%sql
use spotify_db

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

++
||
++
++

In [13]:
%%sql
truncate table tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

++
||
++
++

In [ ]:
%%sql 
show tables

In [7]:
%%sql
drop table tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

++
||
++
++

In [ ]:
sp.track("1JSTJqkT5qHq8MDJnJbRE1")

In [8]:
%%sql
create table if not exists tracks (
    track_id int primary key auto_increment,
    Track_Name varchar(200),
    Artist_Name varchar(200),
    Album_Name varchar(200),
    Release_date Date,
    Duration_min Float,
    Popularity int
);

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

++
||
++
++

In [9]:
%%sql
describe tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

7 rows affected.

+--------------+--------------+------+-----+---------+----------------+
|    Field     |     Type     | Null | Key | Default |     Extra      |
+--------------+--------------+------+-----+---------+----------------+
|   track_id   |     int      |  NO  | PRI |   None  | auto_increment |
|  Track_Name  | varchar(200) | YES  |     |   None  |                |
| Artist_Name  | varchar(200) | YES  |     |   None  |                |
|  Album_Name  | varchar(200) | YES  |     |   None  |                |
| Release_date |     date     | YES  |     |   None  |                |
| Duration_min |    float     | YES  |     |   None  |                |
|  Popularity  |     int      | YES  |     |   None  |                |
+--------------+--------------+------+-----+---------+----------------+

In [14]:
# Connect to the database       
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2815123",             
    database="spotify_db"   
)
cursor = conn.cursor()
# Insert single data into the tracks table 
insert_query="""insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_min, Popularity) values("Pink+White","Frank Ocean","Blonde","2016-08-20",3.45,85);"""
cursor.execute(insert_query)    
conn.commit()

In [15]:
%%sql
select * from tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

1 rows affected.

+----------+------------+-------------+------------+--------------+--------------+------------+
| track_id | Track_Name | Artist_Name | Album_Name | Release_date | Duration_min | Popularity |
+----------+------------+-------------+------------+--------------+--------------+------------+
|    1     | Pink+White | Frank Ocean |   Blonde   |  2016-08-20  |     3.45     |     85     |
+----------+------------+-------------+------------+--------------+--------------+------------+

In [16]:
with open('tracks.txt','r+') as fe:
    f=fe.readlines()    
    c=1
for line in f:
    track=line.strip()  
    track=re.search(r"track/([a-zA-Z0-9]+)",track).group(1)
    sis=sp.track(track)
    meta_data={
            "Track Name":sis['name'],
            'Artist':sis['artists'][0]['name'],
            'Album':sis['album']['name'],
            'Release Date':sis['album']['release_date'],
            'Popularity':sis['popularity'],
            'Duration (min)':round(sis['duration_ms']/60000,2)
        }
    insert_query = """insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_min, Popularity) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
    cursor.execute(insert_query, (
	meta_data["Track Name"],
	meta_data['Artist'],
	meta_data['Album'],
	meta_data['Release Date'],
	meta_data['Duration (min)'],
	meta_data['Popularity']
))
    conn.commit()
    print(f"{meta_data["Track Name"] } inserted {c}")
    c+=1
    print("Data inserted successfully")
    # cursor.execute(f"""insert into tracks(Track_Name, Artist_Name, Album_Name, Release_date, Duration_ms, Popularity) values("{meta_data['Track Name']}","{meta_data['Artist']}","{meta_data['Album']}","{meta_data['Release Date']}",{meta_data['Duration (min)']*60000},{meta_data['Popularity']});""")                           
    # conn.commit()

Mr. Brightside inserted 1
Data inserted successfully
Time is Running Out inserted 2
Data inserted successfully
Uprising inserted 3
Data inserted successfully
Despacito inserted 4
Data inserted successfully
Mr. Brightside inserted 5
Data inserted successfully
Lover inserted 6
Data inserted successfully
Shape of You inserted 7
Data inserted successfully
Every Breath You Take inserted 8
Data inserted successfully
Nee Kavithaigala inserted 9
Data inserted successfully
Thangapoovey inserted 10
Data inserted successfully
What's Up Danger (with Black Caviar) inserted 11
Data inserted successfully
Unstoppable inserted 12
Data inserted successfully
One Kiss (with Dua Lipa) inserted 13
Data inserted successfully
Die With A Smile inserted 14
Data inserted successfully
No Lie inserted 15
Data inserted successfully
Levitating inserted 16
Data inserted successfully
São Paulo (feat. Anitta) inserted 17
Data inserted successfully
505 inserted 18
Data inserted successfully
Co2 inserted 19
Data inserted successfully
Let It Happen inserted 20
Data inserted successfully
IDGAF inserted 21
Data inserted successfully

In [17]:
%%sql
select *from tracks

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

22 rows affected.

+----------+-----------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+
| track_id |       Track_Name      |    Artist_Name     |                        Album_Name                       | Release_date | Duration_min | Popularity |
+----------+-----------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+
|    1     |       Pink+White      |    Frank Ocean     |                          Blonde                         |  2016-08-20  |     3.45     |     85     |
|    2     |     Mr. Brightside    |    The Killers     |                         Hot Fuss                        |  2004-06-15  |     3.7      |     63     |
|    3     |  Time is Running Out  |        Muse        |                        Absolution                       |  2004-03-23  |     3.95     |     3      |
|    4     |        Uprising       |        Muse        |                      The Resistance                     |  2009-09-10  |     5.08     |     78     |
|    5     |       Despacito       |     Luis Fonsi     |                           VIDA                          |  2019-02-01  |     3.82     |     80     |
|    6     |     Mr. Brightside    |    The Killers     |                         Hot Fuss                        |  2004-06-15  |     3.7      |     7      |
|    7     |         Lover         |    Taylor Swift    |                          Lover                          |  2019-08-23  |     3.69     |     83     |
|    8     |      Shape of You     |     Ed Sheeran     |                        ÷ (Deluxe)                       |  2017-03-03  |     3.9      |     88     |
|    9     | Every Breath You Take |     The Police     |             Synchronicity (Remastered 2003)             |  1983-06-17  |     4.23     |     92     |
|    10    |    Nee Kavithaigala   | Dhibu Ninan Thomas | Maragatha Naanayam (Original Motion Picture Soundtrack) |  2017-01-19  |     4.6      |     68     |
+----------+-----------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
select * from tracks where track_id	=10

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

1 rows affected.

+----------+------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+
| track_id |    Track_Name    |    Artist_Name     |                        Album_Name                       | Release_date | Duration_min | Popularity |
+----------+------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+
|    10    | Nee Kavithaigala | Dhibu Ninan Thomas | Maragatha Naanayam (Original Motion Picture Soundtrack) |  2017-01-19  |     4.6      |     68     |
+----------+------------------+--------------------+---------------------------------------------------------+--------------+--------------+------------+

In [ ]:
%%sql
select 
case when Popularity >=80 then 'High'
     when Popularity >=50 and Popularity <80 then 'Medium'
     else 'Low' end as Popularity_Level,
     count(*) as Number_of_Tracks
from tracks
group by Popularity_Level

Running query in 'mysql+mysqlconnector://root:***@localhost/spotify_db'

3 rows affected.

+------------------+------------------+
| Popularity_Level | Number_of_Tracks |
+------------------+------------------+
|       High       |        12        |
|      Medium      |        8         |
|       Low        |        2         |
+------------------+------------------+

)